#nav-bar {
    position: fixed;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    color: #e8fdff;
    background-color: #00a087;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0em 2em;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    float: left;
}

#nav-bar .header {
    font-size: 2em;
    padding: 0 10px;
    line-height: 80px;
    float: left;
}