#nav-bar {
    position: fixed;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    color: #e8fdff;
    background-color: #00a087;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0em 2em;
    z-index: 500;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    float: left;
}

#nav-bar .header {
    font-size: 2em;
    padding: 0 10px;
    line-height: 80px;
    float: left;
}

#nav-bar input {
    background-color: rgba(255, 255, 255, 0.678);
    font-family: 'Roboto Condensed', sans-serif;
    color:#00a087;
    padding: 1em;
    float:  right;
    margin-top: 15px;
    border-radius: 8px;
}

#nav-bar input:hover {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    color:black;
    padding: 1em;
    float:  right;
    margin-top: 15px;
    border-radius: 8px;
}